run/*
build/*
/build/
/.gradle/
/common/.gradle/
/common/build/
/neoforge/.gradle/
/neoforge/build/
/neoforge/run/
/fabric/.gradle/
/fabric/build/
/fabric/run/
/run/
/common/src/main/generated/
/neoforge/src/main/generated/
/fabric/src/main/generated/
/remappedSrc/
/.idea/
!/.idea/copyright/
/*/.architectury-transformer/
